<template>
  <div class="comments">
    <h2 class="comments__title">Comments</h2>
  </div>
</template>

<style lang="scss" scoped>
.comments {
  &__title {
    margin-bottom: 40px;
   font-weight: 600;
   font-size: 2em;
  }
}
</style>
