<template>
  <div class="details">
    <h2 class="details__title">Package Details</h2>
    This mod fixes multiple performance issues including AMD SMT usage. It also fixes some bugs such as AVX crashes and adds fun hacks to play with (enabling the Debug menus for example).
    <br><br>
    If you are GPU bound you will not see any performance increase on your average FPS but you should see less FPS drops.
    <br><br>
    If you like the mod consider supporting me on<a href="https://www.patreon.com/tiltedphoques">patreon</a>.
    <br><br>
    <strong>Usage<br><br></strong>
    <strong><font size="6"><a href="https://github.com/yamashi/PerformanceOverhaulCyberpunk/wiki">Install/Troubleshoot wiki</a></font> <font size="6"><br></font>
    <a href="https://app.gitbook.com/@cp77modding/s/cyber-engine-tweaks/"><font size="6">Console wiki</font><br></a><br></strong>
    <strong>Currently fixed<br></strong>
    <ul class="disc">
      <li>AMD SMT</li>
      <li>Spectre mitigation (both AMD and Intel benefit from this)</li>
      <li>AVX crash (up to 1.04 )</li>
      <li>Virtual input ( up to 1.04 )</li>
      <li>PoolCPU &amp; PoolGPU allocation ( up to 1.04 )</li>
      <li>Can disable async compute (this option is not active by default)</li>
      <li>Can disable antialiasing - TAA (this option is not active by default)</li>
    </ul>
    <br><strong>Cool additions<br><br></strong><ul class="disc"><li>Unlock the debug menu in the main menu so you can play around with whatever you want ;)</li><li>Skip start menu</li><li>Remove pedestrians and traffic</li><li>Console (press ~ key to open), if it doesn't show but you see the cursor, another overlay is causing the issue (for me it's RivaTuner)</li></ul><br>This mod does a lot of different things! Please edit <code>&lt;cyberpunk install path&gt;/bin/x64/plugins/cyber_engine_tweaks/config.json</code> <br>to match your needs, everything is customizable. All the configuration options are explained in the wiki!<br><br>Windows 7 support has been dropped starting from v1.0.0, previous builds are going to work just fine but there is no plan to support Windows 7 in the future. Why? Because it's 11 years old and even microsoft dropped support. Upgrade please.
  </div>
</template>

<style lang="scss" scoped>
.details {
  &__title {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 2em;
  }
}
</style>
