<template>
  <div class="media">
    <h2 class="media__title">Media</h2>
    <p>This page is pretty obvious yeah? Job for later, use your imagination :)</p>
  </div>
</template>

<style lang="scss" scoped>
.media {
  &__title {
    margin-bottom: 40px;
   font-weight: 600;
   font-size: 2em;
  }
}
</style>
