<template>
  <div class="relationships">
    <h2 class="relationships__title">Relationships</h2>
    <div class="relationships__container">
      <gpm-dropdown
        class="relationships__type"
        :options="['Dependants', 'Dependancies']"
      />
      <gpm-dropdown
        class="relationships__sort"
        :options="['Most Popular', 'Name', 'Oldest', 'Newest']"
      />
    </div>
    <gpm-pagination
      class="relationships__paginate"
      :pages="10"
      :currentPage="currentPage"
      @page-changed="(page) => currentPage = page"
    />
    <div class="relationships__packages">
      <package-item
        class="relationships__package"
        v-for="index in 30"
        :key="index"
        :list-style="true"
      />
    </div>
  </div>
</template>

<script>
import GpmDropdown from '@/components/ui/Dropdown'
import GpmPagination from '@/components/ui/Pagination'
import PackageItem from '@/components/PackageItem'

export default {
  components: {
    GpmDropdown,
    GpmPagination,
    PackageItem
  },

  data () {
    return {
      currentPage: 1
    }
  }
}
</script>

<style lang="scss" scoped>
.relationships {
  &__title {
    margin-bottom: 40px;
   font-weight: 600;
   font-size: 2em;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__type {
    width: 180px;
  }

  &__sort {
    width: 180px;
  }

  &__paginate {
    margin-top: 10px;
    justify-content: center;
  }

  &__packages {
    margin: 20px 0;
  }

  &__package:not(:last-of-type) {
    margin-bottom: 14px;
  }
}
</style>
