<template>
  <div class="releases">
    <div class="releases__latest">
      <h2 class="releases__title">Latest</h2>
      <latest-release/>
    </div>

    <div class="releases__recent">
      <h2 class="releases__title">Recent</h2>
      <recent-release/>
      <recent-release/>
      <recent-release/>
    </div>
  </div>
</template>

<script>
import LatestRelease from '@/components/LatestRelease'
import RecentRelease from '@/components/RecentRelease'

export default {
  components: {
    LatestRelease,
    RecentRelease
  }
}
</script>

<style lang="scss" scoped>
.releases {
  &__title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 2em;
  }
}
</style>
