<template>
  <div class="communities">
    <div class="communities__header">
      <div class="communities__headerTop">
        <h1 class="communities__title">Communities /</h1>
        <div class="communities__searchText">
          <input
            class="communities__searchInput"
            placeholder="Search..."
          >
        </div>
      </div>
      <div class="communities__search search">
        <div class="search__leftContainer">
          <gpm-pagination
            :pages="10"
            :currentPage="currentPage"
            @page-changed="(page) => currentPage = page"
          />
        </div>
        <div class="search__rightContainer">
          <gpm-dropdown-search
            class="search__gameSelect"
            :options="['Cyberpunk', 'Skyrim', 'Skyrim', 'Skyrim', 'Skyrim', 'Skyrim', 'Skyrim', 'Skyrim', 'Skyrim', 'Skyrim', 'Skyrim', 'Skyrim']"
            placeholder="Select Game"
          />
        </div>
      </div>
    </div>

    <div class="communities__content">
      <div class="communities__resultContainer">
        <community-item
          v-for="index in 30"
          :key="index"
        />
      </div>
    </div>
  </div>
</template>

<script>
import GpmPagination from '@/components/ui/Pagination'
import GpmDropdownSearch from '@/components/ui/DropdownSearch'

import CommunityItem from '@/components/CommunityItem'

export default {
  components: {
    GpmPagination,
    GpmDropdownSearch,
    CommunityItem
  },

  data () {
    return {
      currentPage: 1
    }
  }
}
</script>

<style lang="scss" scoped>
@keyframes dropIn {
  0% {
    transform: translateY(-65px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.communities {
  &__header {
    height: 100%;
    padding: 20px 10%;
    padding-top: 40px;
    margin-top: -20px;
    background: rgb(var(--color-bg-alt));
    box-shadow: 0 4px 7px -3px rgb(0, 0, 0, 0.4);
    animation: dropIn 0.6s cubic-bezier(0.34, 1.56, 0.64, 1), fadeIn 0.6s ease;
  }

  &__headerTop {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 2em;
    white-space: nowrap;
  }

  &__searchText {
    margin-left: 10px;
    width: 100%;
  }

  &__searchInput {
    width: 100%;
    font-size: 2em;
    background: transparent;
    border: 0;
    color: rgb(var(--color-text-alt));
  }

  &__content {
    padding: 0 10%;
    margin: 40px 0;
  }

  &__resultContainer {
    display: grid;
    width: 100%;
    grid-gap: 14px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    transition: all 0.2s ease;
  }
}

.search {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: rgb(var(--color-text-alt));

  &__leftContainer,
  &__rightContainer {
    display: flex;
    align-items: center;
  }

  &__field {
    display: flex;

    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }

  &__gameSelect {
    width: 250px;
    z-index: 10;
  }

  &__gridSlider {
    margin: 0 10px;
    width: 80px;
  }
}
</style>
