<template>
  <div class="community">
    <div class="community__header header">
      <div
        class="header__background"
        :style="{ backgroundImage: `url('${dummyInfo.banner}')` }"
      />
      <div class="header__top">
        <h1 class="header__title">{{ dummyInfo.name }}</h1>
        <p class="header__description">{{ dummyInfo.description }}</p>
      </div>
      <div class="header__nav">
        <router-link
          to="/communities/testCommunity"
          class="header__navItem"
        >
          Home
        </router-link>
        <div
          class="header__navItem"
          :class="{ 'router-link-exact-active': $route.path === '/communities/testCommunity/packages' }"
          @click.self="$router.push('/communities/testCommunity/packages')"
        >
          Packages
          <div class="header__navItemMenu">
            <router-link
              to="/communities/testCommunity/packages"
              class="header__subNavItem"
            >
              <p>Home</p>
            </router-link>
            <router-link
              to="/communities/testCommunity/packages/popular"
              class="header__subNavItem"
            >
              <p>Most Popular</p>
            </router-link>
            <router-link
              to="/communities/testCommunity/packages/popular/week"
              class="header__subNavItem"
            >
              <p>Popular - This Week</p>
            </router-link>
            <router-link
              to="/communities/testCommunity/packages/categories"
              class="header__subNavItem"
            >
              <p>Categories</p>
            </router-link>
            <router-link
              to="/communities/testCommunity/packages/search"
              class="header__subNavItem"
            >
              <p>Advanced Search</p>
            </router-link>
          </div>
        </div>
        <router-link
          to="/communities/testCommunity/news"
          class="header__navItem"
        >
          News
        </router-link>
        <router-link
          to="/communities/testCommunity/media"
          class="header__navItem"
        >
          Media
        </router-link>
      </div>
    </div>
    <div class="community__content">
      <transition name="fade" mode="out-in">
        <router-view/>
      </transition>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      dummyInfo: {
        banner: 'https://wallpapercave.com/wp/wp2225897.jpg',
        name: 'Skyrim Mods',
        description: 'The largest Skyrim package community on GPM'
      }
    }
  },

  mounted () {
    window.scrollTo(0, 0)
  }
}
</script>

<style lang="scss" scoped>
@keyframes dropIn {
  0% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-enter,
.fade-leave-to {
  visibility: hidden;
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.15s;
}

.community {
  &__header {
    position: relative;
    height: 100%;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 10%;
    padding-top: 80px;
    margin-top: -60px;
    background: rgb(var(--color-bg-alt));
    box-shadow: 0 4px 7px -3px rgb(0, 0, 0, 0.4);
    animation: dropIn 0.6s cubic-bezier(0.34, 1.56, 0.64, 1), fadeIn 0.6s ease;
    z-index: 1;
  }

  &__content {
    padding: 0 10%;
    margin: 40px 0;
  }
}

.header {
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    opacity: 0.3;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), transparent 85%);
  }

  &__title {
    font-weight: 700;
    font-size: 2.3em;
    margin-bottom: 10px;
  }

  &__description {
    color: rgb(var(--color-text-alt));
  }

  &__nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__navItem {
    position: relative;
    padding: 10px;
    margin-top: 18px;
    margin-right: 10px;
    border-radius: var(--border-radius);
    border: 2px solid rgb(var(--color-bg-alt2));
    outline: none;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      &::before {
        visibility: visible;
      }
    }

    &:hover {
      .header__navItemMenu {
        opacity: 1;
        visibility: visible;
      }
    }

    &:hover,
    &.router-link-exact-active {
      background: rgb(var(--color-bg-alt2));
      box-shadow: 0 4px 7px -3px rgb(0, 0, 0, 0.4);
    }

    &.router-link-exact-active {
      border-color: rgba(var(--color-primary));
    }

    &--install {
      border: 2px solid rgb(var(--color-primary));
      background: rgb(var(--color-primary));

      &:hover {
        background: rgb(var(--color-primary));
        filter: brightness(1.4);
      }
    }

    &::before {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 10px;
      border: 2px solid transparent;
      visibility: hidden;
    }
  }

  &__navItemMenu {
    position: absolute;
    width: max-content;
    margin-top: 20px;
    left: 0;
    background: rgb(var(--color-bg-alt));
    border-radius: var(--border-radius);
    border: 2px solid rgb(var(--color-bg-alt2));
    box-shadow: 0 4px 7px -3px rgb(0, 0, 0, 0.4);
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
  }

  &__subNavItem {
    display: block;
    padding: 10px;
    padding-right: 30px;
    font-weight: 400;
    transition: all 0.2s ease;
    text-decoration: none;
    color: inherit;

    > p {
      transition: all 0.2s ease;
    }

    &:hover {
      background: rgb(var(--color-bg-alt2));

      > p {
        transform: translateX(3px);
      }
    }
  }
}
</style>
