<template>
  <div class="landing">
    <div class="landing__container">
      <div class="landing__infoContainer">
        <div class="landing__textContainer">
          <h1 class="landing__title">GPM</h1>
          <p class="landing__subtitle">World's first Game Package Manager for modders</p>
        </div>
        <div class="landing__buttons">
          <gpm-button class="landing__button">Download</gpm-button>
          <gpm-button class="landing__button">Mod Manager</gpm-button>
          <gpm-button class="landing__button">Packages</gpm-button>
        </div>
        <div class="landing__social social">
          <twitter-icon class="social__icon social__twitter"/>
          <discord-icon class="social__icon social__discord"/>
          <github-icon class="social__icon social__github"/>
        </div>
      </div>
      <div class="landing__console console">
        <div class="console__window">
          <div class="console__windowTitle">
            <div class="console__minimise console__windowItem">
              <svg x="0px" y="0px" viewBox="0 0 10.2 1"><rect x="0" y="50%" width="10.2" height="1"></rect></svg>
            </div>
            <div class="console__maximise console__windowItem">
              <svg viewBox="0 0 10 10"><path d="M0,0v10h10V0H0z M9,9H1V1h8V9z"></path></svg>
            </div>
            <div class="console__close console__windowItem">
              <svg viewBox="0 0 10 10"><polygon points="10.2,0.7 9.5,0 5.1,4.4 0.7,0 0,0.7 4.4,5.1 0,9.5 0.7,10.2 5.1,5.8 9.5,10.2 10.2,9.5 5.8,5.1"></polygon></svg>
            </div>
          </div>
          <div class="console__text">
            <p><span class="console__comment">$ </span>gpm init</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo fuga, ab quos, quod accusamus consequatur delectus optio animi cum qui aut a rem odit ipsa commodi quisquam, nulla incidunt minus.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="landing__scrollTip">
      <p class="landing__scrollTipText">Scroll Down</p>
    </div>
  </div>
</template>

<script>
import GpmButton from '@/components/ui/Button'
import DiscordIcon from 'vue-material-design-icons/Discord'
import TwitterIcon from 'vue-material-design-icons/Twitter'
import GithubIcon from 'vue-material-design-icons/Github'

export default {
  components: {
    GpmButton,
    DiscordIcon,
    TwitterIcon,
    GithubIcon
  }
}
</script>

<style lang="scss" scoped>
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-13px);
  }

  60% {
    transform: translateY(-4px);
  }
}

.landing {
  height: 100%;
  padding: 0 10%;
  position: relative;
  display: flex;
  align-items: center;

  &__container {
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__textContainer {
    margin-bottom: 20px;
    text-align: center;
  }

  &__title {
    font-size: 3.5rem;
    font-weight: 700;
  }

  &__subtitle {
    margin-top: 15px;
    font-weight: 500;
  }

  &__scrollTip {
    display: none; // TODO: Depends on what get's put on landing page, may remove this (hidden currently)
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
  }

  &__scrollTipText {
    animation-name: bounce;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    div:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__button {
    min-width: 130px;
    margin-top: 10px;
  }

  &__social {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    font-size: 2em;
  }

  &__console {
    flex: 1;
    display: flex;
    justify-content: center;
    min-width: 400px;
  }
}

.social {
  &__icon {
    cursor: pointer;
    transition: all 0.2s ease;

    &:not(:last-of-type) {
      margin-right: 15px;
    }

    &:hover {
      transform: translateY(-3px);
    }

    > svg {
      height: 1em;
      width: 1em;
    }
  }

  &__twitter:hover {
    color: #1DA1F2;
  }

  &__discord:hover {
    color: #7289DA;
  }
}

.console {
  &__window {
    background: rgb(var(--color-bg-alt));
    border-radius: 5px;
    width: 80%;
    box-shadow: 0 5px 20px -10px rgba(#000, 0.3);
  }

  &__windowTitle {
    display: flex;
    justify-content: flex-end;
  }

  &__windowItem {
    padding: 10px 15px;
    user-select: none;

    > svg {
      fill: rgb(var(--color-text));
      width: 0.7em;
      height: 0.7em;
    }
  }

  &__text {
    padding: 30px;
    margin-top: 0;
    background: rgb(var(--color-bg-alt2));
    border-radius: 0 0 5px 5px;
    font-size: 0.9em;
    font-family: 'Cascadia Code PL', 'Consolas';

    > p {
      margin-top: 5px;
    }
  }

  &__comment {
    opacity: 0.5;
    user-select: none;
  }
}
</style>
