<template>
  <div class="packages">
    <div class="packages__header">
      <div class="packages__headerTop">
        <h1 class="packages__title">Packages /</h1>
        <div class="search__text">
          <input class="search__textInput" placeholder="Search..."/>
        </div>
      </div>
      <div class="packages__search search">
        <div class="search__leftContainer">
          <gpm-pagination
            :pages="10"
            :currentPage="currentPage"
            @page-changed="(page) => currentPage = page"
          />
        </div>
        <div class="search__rightContainer">
          <div class="search__field">
            <gpm-dropdown-search
              class="search__gameSelect"
              :options="['Cyberpunk', 'Skyrim', 'Skyrim', 'Skyrim', 'Skyrim', 'Skyrim', 'Skyrim', 'Skyrim', 'Skyrim', 'Skyrim', 'Skyrim', 'Skyrim']"
              placeholder="Select Game"
            />
          </div>

          <div class="search__field">
            <list-icon/>
            <gpm-slider
              class="search__gridSlider"
              :min="219"
              :max="500"
              :step="1"
              v-model="gridSize"
            />
            <grid-icon/>
          </div>
        </div>
      </div>
    </div>
    <div class="packages__content">
      <div
        class="packages__resultContainer resultContainer"
        :style="gridSizeStyle"
      >
        <package-item
          :package-info="dummyPackage"
          v-for="index in 30"
          :key="index"
          :list-style="gridSize <= 219"
        >
          <p>Item {{ index }}</p>
        </package-item>
      </div>
    </div>
  </div>
</template>

<script>
import GpmSlider from '@/components/ui/Slider'
import GpmDropdownSearch from '@/components/ui/DropdownSearch'
import GpmPagination from '@/components/ui/Pagination'

import PackageItem from '@/components/PackageItem'

import ListIcon from 'vue-material-design-icons/FormatListText'
import GridIcon from 'vue-material-design-icons/ViewGrid'

export default {
  components: {
    GpmSlider,
    GpmDropdownSearch,
    GpmPagination,
    PackageItem,
    ListIcon,
    GridIcon
  },

  data () {
    return {
      gridSize: 250,
      currentPage: 1,
      dummyPackage: {
        name: 'Trauma Team Set',
        author: 'arj41',
        description: 'Trauma Team set replaces Johnny\'s set and some headwear and eyewear. Female set now available.',
        updated: '1 days ago',
        image: 'https://staticdelivery.nexusmods.com/mods/3333/images/thumbnails/1004/1004-1610811593-518389390.png'
      }
    }
  },

  computed: {
    gridSizeStyle () {
      if (this.gridSize <= 219) {
        return {
          gridTemplateColumns: '1fr'
        }
      } else {
        return {
          gridTemplateColumns: `repeat(auto-fit, minmax(${this.gridSize}px, 1fr))`
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@keyframes dropIn {
  0% {
    transform: translateY(-65px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.packages {
  &__header {
    height: 100%;
    padding: 20px 10%;
    padding-top: 40px;
    margin-top: -20px;
    background: rgb(var(--color-bg-alt));
    box-shadow: 0 4px 7px -3px rgb(0, 0, 0, 0.4);
    animation: dropIn 0.6s cubic-bezier(0.34, 1.56, 0.64, 1), fadeIn 0.6s ease;
  }

  &__headerTop {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 2em;
    white-space: nowrap;
  }

  &__content {
    padding: 0 10%;
    margin: 40px 0;
  }
}

.search {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: rgb(var(--color-text-alt));

  &__leftContainer,
  &__rightContainer {
    display: flex;
    align-items: center;
  }

  &__field {
    display: flex;

    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }

  &__text {
    margin-left: 10px;
    width: 100%;
  }

  &__textInput {
    width: 100%;
    font-size: 2em;
    background: transparent;
    border: 0;
    color: rgb(var(--color-text-alt));
  }

  &__gameSelect {
    width: 250px;
  }

  &__gridSlider {
    margin: 0 10px;
    width: 80px;
  }
}

.resultContainer {
  display: grid;
  width: 100%;
  grid-gap: 14px;
  transition: all 0.2s ease;
}
</style>
