<template>
  <div class="package">
    <div class="package__header header">
      <div
        class="header__background"
        :style="{ backgroundImage: `url('${dummyInfo.thumbnail}')` }"
      />
      <div class="header__top">
        <h1 class="header__title">{{ dummyInfo.name }}</h1>
        <p class="header__info">
          <span class="header__author">{{ dummyInfo.author }}</span>
          published 1.0.1 •
          <span class="header__updated">{{ dummyInfo.updated }}</span>
        </p>
      </div>
      <div class="header__images">
        <div class="header__image">
          <img :src="dummyInfo.thumbnail">
        </div>
        <div class="header__image">
          <img :src="dummyInfo.thumbnail">
        </div>
        <div class="header__image">
          <img :src="dummyInfo.thumbnail">
        </div>
        <div class="header__image">
          <img :src="dummyInfo.thumbnail">
        </div>
        <div class="header__image">
          <img :src="dummyInfo.thumbnail">
        </div>
        <div class="header__image">
          <img :src="dummyInfo.thumbnail">
        </div>
        <div class="header__image">
          <img :src="dummyInfo.thumbnail">
        </div>
      </div>
      <div class="header__nav">
        <router-link
          to="/packages/test/details"
          class="header__navItem"
        >
          Details
        </router-link>
        <router-link
          to="/packages/test/releases"
          class="header__navItem"
        >
          Releases
        </router-link>
        <router-link
          to="/packages/test/media"
          class="header__navItem"
        >
          Media
        </router-link>
        <router-link
          to="/packages/test/comments"
          class="header__navItem"
        >
          Comments
        </router-link>
        <router-link
          to="/packages/test/relationships"
          class="header__navItem"
        >
          Relationships
        </router-link>
        <div class="header__navItem header__navItem--install">
          Install Latest
        </div>
      </div>
    </div>
    <div class="package__content">
      <transition name="fade" mode="out-in">
        <router-view/>
      </transition>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      dummyInfo: {
        name: 'Female Nomad (New Game Plus)',
        author: 'EbonZone',
        description: 'Disables the fog effect from light sources/environment which can be pixelatet times.Disables the fog effect from light sources/environment which can be pixelated and ugly at times.Disables the fog effect from light sources/environment which can be pixelated and ugly at times.Disables the fog effect from light sources/environmenich can be pixelated and ugly at times.Disableshe fog effect from light sources/eironment which can be pixelated andly at times.Disables the fog effect from light sources/environment which can pixelated and ugly at times.Disables the fog effect from light sources/ronment which can be pixelated and ugly at times.Disles the fog effect from light sources/environment which can be pixelated and u at times.Disables the fog effect from light sources/environment which can be pixelated and ut times.Disables the fog effect from light sources/environment whin be pixelated and ugly at times.Disables the fog effect from light souironment which can be pixelated and ugly at times.Disables the fog effect fr/environment which can be pixelated and ugly at times.',
        updated: '1 days ago',
        thumbnail: 'https://staticdelivery.nexusmods.com/mods/3333/images/531/531-1608982231-1925862069.png'
      }
    }
  },

  mounted () {
    window.scrollTo(0, 0)
  }
}
</script>

<style lang="scss" scoped>
@keyframes dropIn {
  0% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-enter,
.fade-leave-to {
  visibility: hidden;
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.15s;
}

.package {
  &__header {
    position: relative;
    height: 100%;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 10%;
    padding-top: 80px;
    margin-top: -60px;
    background: rgb(var(--color-bg-alt));
    box-shadow: 0 4px 7px -3px rgb(0, 0, 0, 0.4);
    overflow: hidden;
    animation: dropIn 0.6s cubic-bezier(0.34, 1.56, 0.64, 1), fadeIn 0.6s ease;
    z-index: 1;
  }

  &__content {
    padding: 0 10%;
    margin: 40px 0;
  }
}

.header {
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    opacity: 0.3;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), transparent 85%);
  }

  &__title {
    font-weight: 700;
    font-size: 2.3em;
  }

  &__info {
    margin-top: 10px;
    color: rgb(var(--color-text-alt));
  }

  &__author,
  &__updated {
    font-weight: 600;
    color: rgb(var(--color-text));
  }

  &__images {
    display: flex;
    margin-top: 20px;
    overflow: hidden;
    mask-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 1.0) 50px);
  }

  &__image {
    min-width: 200px;
    width: 200px;
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-right: 10px;

    > img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__navItem {
    padding: 10px;
    margin-top: 18px;
    margin-right: 10px;
    border-radius: var(--border-radius);
    border: 2px solid rgb(var(--color-bg-alt2));
    outline: none;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover,
    &.router-link-active {
      background: rgb(var(--color-bg-alt2));
      box-shadow: 0 4px 7px -3px rgb(0, 0, 0, 0.4);
    }

    &.router-link-active {
      border-color: rgba(var(--color-primary));
    }

    &--install {
      border: 2px solid rgb(var(--color-primary));
      background: rgb(var(--color-primary));

      &:hover {
        background: rgb(var(--color-primary));
        filter: brightness(1.4);
      }
    }
  }
}
</style>
