<template>
  <div class="appNavigation">
    <router-link
      class="appNavigation__title"
      to="/"
    >
      <h1>GPM</h1>
    </router-link>
    <ul class="appNavigation__navItems">
      <router-link
        tag="li"
        class="appNavigation__navItem navItem"
        v-for="item in items"
        :key="item.text"
        :to="item.link"
      >
        <p class="navItem__navText">{{ item.text }}</p>
      </router-link>
    </ul>
  </div>
</template>

<script>
export default {
  data () {
    return {
      items: [
        {
          text: 'Packages',
          link: '/packages'
        },
        {
          text: 'Communities',
          link: '/communities'
        },
        {
          text: 'Games',
          link: '/games'
        },
        {
          text: 'Docs',
          link: '/docs'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.appNavigation {
  position: sticky;
  top: 0;
  display: flex;
  padding: 0 10%;
  background: rgb(var(--color-bg-alt2));
  box-shadow: 0 4px 7px -3px rgb(0, 0, 0, 0.4);
  z-index: 10;

  &__title {
    padding: 10px 20px;
    font-weight: 700;
    font-size: 2em;
    color: inherit;
    text-decoration: none;
  }

  &__navItems {
    display: flex;
  }

  &__navItem {
    height: 100%;
    display: flex;
    padding: 0 20px;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background: rgb(var(--color-bg-alt2));
      filter: brightness(1.3);
    }
  }
}

.navItem {
  &__navText {
    transition: all 0.1s ease;
  }

  &:hover & {
    &__navText {
      transform: translateY(-2px);
    }
  }
}
</style>
