<template>
  <div class="community">
    <div class="community__imageContainer">
      <div class="community__imageRatio">
        <img
          class="community__image"
          :src="dummyInfo.image"
        >
      </div>
      <img
        class="community__imageBackground"
        :src="dummyInfo.image"
      >
    </div>
    <div class="community__info">
      <h3 class="community__name">{{ dummyInfo.name }}</h3>
      <p class="community__description">{{ dummyInfo.description }}</p>
      <div class="community__packages"><package-icon/>{{ dummyInfo.packagesListed }}</div>
      <div class="community__updated">Last Updated - {{ dummyInfo.lastUpdated }}</div>
      <router-link
        class="community__enter"
        to="/communities/testCommunity"
      >
        <gpm-button>Enter</gpm-button>
      </router-link>
    </div>
  </div>
</template>

<script>
import GpmButton from '@/components/ui/Button'

import PackageIcon from 'vue-material-design-icons/PackageVariantClosed'

export default {
  components: {
    GpmButton,
    PackageIcon
  },

  data () {
    return {
      dummyInfo: {
        image: 'https://i.pinimg.com/736x/e5/6d/b4/e56db46de61a5ac1be1e1064ccf651f8.jpg',
        name: 'Skyrim Mods',
        description: 'The largest Skyrim package community on GPM',
        packagesListed: '1,000,000',
        lastUpdated: '2 hrs ago'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.community {
  display: flex;
  background: rgb(var(--color-bg-alt));
  border-radius: var(--border-radius);
  border: 1px solid rgb(var(--color-bg-alt2));
  overflow: hidden;
  box-shadow: 0 10px 16px -10px rgba(#000, 0.5);

  &__imageContainer {
    display: flex;
    position: relative;
    width: 50%;
    background: rgba(var(--color-bg));
    overflow: hidden;
  }

  &__imageRatio {
    position: relative;
    width: 100%;
    padding-top: calc(100% * 4 / 3);
    margin: auto;
  }

  &__image,
  &__imageBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    z-index: 2;
  }

  &__imageBackground {
    object-fit: cover;
    opacity: 0.5;
    filter: blur(8px);
    transform: scale(1.1);
    z-index: 1;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    text-align: center;
  }

  &__name {
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &__description {
    color: rgb(var(--color-text-alt));
    margin-bottom: 20px;
  }

  &__packages {
    display: flex;
    margin-top: auto;
    margin-bottom: 5px;
    justify-content: center;
    color: rgb(var(--color-text-alt));
    font-size: 0.9em;

    .material-design-icon {
      display: flex;

      > svg {
        height: 1em;
        width: 1em;
      }
    }
  }

  &__updated {
    margin-bottom: 10px;
    color: rgb(var(--color-text-alt));
    font-size: 0.9em;
  }

  &__enter {
    text-decoration: none;
    color: inherit;
  }
}
</style>
