<template>
  <div class="latestRelease">
    <div class="latestRelease__topContainer">
      <div class="latestRelease__leftContainer">
        <p class="latestRelease__name">vehiclehandling_v0.3</p>
        <p class="latestRelease__published">Published December 30, 2020</p>
      </div>
      <div class="latestRelease__install"><download-icon/> Install</div>
    </div>
    <p class="latestRelease__vinfo">Version Info - <span class="latestRelease__version">0.1.5</span></p>
    <p class="latestRelease__description">New version to try and make handbreaks a little bit better, it's not much different then v0.2 but I find cars are much better to drive like this.<br><br>Same Installation method as before.</p>
  </div>
</template>

<script>
import DownloadIcon from 'vue-material-design-icons/Download'

export default {
  components: {
    DownloadIcon
  }
}
</script>

<style lang="scss" scoped>
.latestRelease {
  padding: 20px;
  margin-bottom: 20px;
  background: rgb(var(--color-bg-alt));
  border-radius: var(--border-radius);

  &__topContainer {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.5em;
  }

  &__published {
    color: rgb(var(--color-text-alt));
    margin-bottom: 10px;

    &--noMargin {
      margin-bottom: initial;
    }
  }

  &__version {
    font-weight: initial;
  }

  &__vinfo {
    width: 100%;
    padding-top: 10px;
    font-weight: 600;
    border-top: 2px solid rgb(var(--color-bg-alt2));
  }

  &__description {
    padding: 10px;
    margin-top: 10px;
    background: rgb(var(--color-bg-alt2));
    border-radius: var(--border-radius);
  }

  &__install {
    display: flex;
    height: fit-content;
    padding: 6px 8px 6px 4px; // 8px padding for weird width of icon
    margin-left: 10px;
    border-radius: var(--border-radius);
    border: 2px solid rgb(var(--color-bg-alt2));
    transition: all 0.2s ease;
    cursor: pointer;
    user-select: none;

    &:hover {
      background: rgb(var(--color-bg-alt2));
      box-shadow: 0 4px 7px -3px rgb(0, 0, 0, 0.4);
    }

    .material-design-icon {
      height: 1em;

      > .material-design-icon__svg {
        height: 1em;
      }
    }
  }
}
</style>
