<template>
  <div class="scroller">
    <VueSlickCarousel
      class="scroller__display"
      ref="displayItem"
      :slidesToShow="1"
      :swipe="false"
      :arrows="false"
      fade
      autoplay
      :autoplaySpeed="6000"
    >
      <div
        class="testItem"
        v-for="(item, index) in items"
        :key="index"
      >
        <package-item
          :package-info="item"
          list-style
        />
      </div>
    </VueSlickCarousel>

    <VueSlickCarousel
      class="scroller__items"
      v-bind="itemsSettings"
    >
      <template #prevArrow>
        <div class="scroller__prevArrow">
          <chevron-left/>
        </div>
      </template>

      <template #nextArrow>
        <div class="scroller__nextArrow">
          <chevron-right/>
        </div>
      </template>

      <div
        class="scroller__item"
        v-for="(item, index) in items"
        :key="index"
        @click="goToSlide(index, item)"
      >
        <div class="scroller__aspectRatio">
          <div class="scroller__imageContainer">
            <img
              class="scroller__image"
              :src="item.image"
            >
          </div>
          <div class="scroller__itemInfo">
            <h3 class="scroller__packageName">{{ item.name }}</h3>
            <p class="scroller__packageInfo">
              <span class="scroller__author">{{ item.author }}</span>
              published 1.0.1 •
              <span class="scroller__updated">{{ item.updated }}</span>
            </p>
          </div>
        </div>
      </div>
    </VueSlickCarousel>
  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'

import PackageItem from '@/components/PackageItem'

import ChevronLeft from 'vue-material-design-icons/ChevronLeft'
import ChevronRight from 'vue-material-design-icons/ChevronRight'

export default {
  components: {
    VueSlickCarousel,
    PackageItem,
    ChevronLeft,
    ChevronRight
  },

  data () {
    return {
      currentIndex: 0,
      itemsSettings: {
        swipe: false,
        slidesToScroll: 4,
        slidesToShow: 5,
        responsive: [
          {
            breakpoint: 1336,
            settings: {
              slidesToScroll: 3,
              slidesToShow: 3
            }
          },
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 667,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      },
      items: [
        {
          name: 'Arasaka Appearance Updater',
          author: 'Admiral',
          description: 'Simple .exe file which automatically selects your latest save file ready to be changed. This Updater can change hairstyle as well as some facial features. It will be updated along the way!',
          updated: '1 days ago',
          image: 'https://staticdelivery.nexusmods.com/mods/3333/images/thumbnails/399/399-1609693855-1589134343.jpeg'
        },
        {
          name: 'Realistic Driving Experience',
          author: 'hunter04119',
          description: 'Seaching for that "Forza-Feeling"? Better handling, drifting and working suspension/shock absorber for CP2077.',
          updated: '1 days ago',
          image: 'https://staticdelivery.nexusmods.com/mods/3333/images/thumbnails/856/856-1610291403-955615306.png'
        },
        {
          name: 'HiRes Netrunner Suit',
          author: 'mrHandies',
          description: 'More Detailed normal replaces lo-res female suit (also affects the Male suit, as they use the same textures)',
          updated: '1 days ago',
          image: 'https://staticdelivery.nexusmods.com/mods/3333/images/thumbnails/1000/1000-1610795181-1722972924.png'
        },
        {
          name: 'Trauma Team Set',
          author: 'arj41',
          description: 'Trauma Team set replaces Johnny\'s set and some headwear and eyewear. Female set now available.',
          updated: '1 days ago',
          image: 'https://staticdelivery.nexusmods.com/mods/3333/images/thumbnails/1004/1004-1610811593-518389390.png'
        },
        {
          name: 'Arasaka Appearance Updater5',
          author: 'Admiral',
          description: 'Simple .exe file which automatically selects your latest save file ready to be changed. This Updater can change hairstyle as well as some facial features. It will be updated along the way! ',
          updated: '1 days ago',
          image: 'https://staticdelivery.nexusmods.com/mods/3333/images/thumbnails/399/399-1609693855-1589134343.jpeg'
        },
        {
          name: 'Arasaka Appearance Updater6',
          author: 'Admiral',
          description: 'Simple .exe file which automatically selects your latest save file ready to be changed. This Updater can change hairstyle as well as some facial features. It will be updated along the way! ',
          updated: '1 days ago',
          image: 'https://staticdelivery.nexusmods.com/mods/3333/images/thumbnails/399/399-1609693855-1589134343.jpeg'
        },
        {
          name: 'Arasaka Appearance Updater7',
          author: 'Admiral',
          description: 'Simple .exe file which automatically selects your latest save file ready to be changed. This Updater can change hairstyle as well as some facial features. It will be updated along the way! ',
          updated: '1 days ago',
          image: 'https://staticdelivery.nexusmods.com/mods/3333/images/thumbnails/399/399-1609693855-1589134343.jpeg'
        },
        {
          name: 'Arasaka Appearance Updater8',
          author: 'Admiral',
          description: 'Simple .exe file which automatically selects your latest save file ready to be changed. This Updater can change hairstyle as well as some facial features. It will be updated along the way! ',
          updated: '1 days ago',
          image: 'https://staticdelivery.nexusmods.com/mods/3333/images/thumbnails/399/399-1609693855-1589134343.jpeg'
        },
        {
          name: 'Arasaka Appearance Updater9',
          author: 'Admiral',
          description: 'Simple .exe file which automatically selects your latest save file ready to be changed. This Updater can change hairstyle as well as some facial features. It will be updated along the way! ',
          updated: '1 days ago',
          image: 'https://staticdelivery.nexusmods.com/mods/3333/images/thumbnails/399/399-1609693855-1589134343.jpeg'
        },
        {
          name: 'Arasaka Appearance Updater10',
          author: 'Admiral',
          description: 'Simple .exe file which automatically selects your latest save file ready to be changed. This Updater can change hairstyle as well as some facial features. It will be updated along the way! ',
          updated: '1 days ago',
          image: 'https://staticdelivery.nexusmods.com/mods/3333/images/thumbnails/399/399-1609693855-1589134343.jpeg'
        },
        {
          name: 'Arasaka Appearance Updater11',
          author: 'Admiral',
          description: 'Simple .exe file which automatically selects your latest save file ready to be changed. This Updater can change hairstyle as well as some facial features. It will be updated along the way! ',
          updated: '1 days ago',
          image: 'https://staticdelivery.nexusmods.com/mods/3333/images/thumbnails/399/399-1609693855-1589134343.jpeg'
        },
        {
          name: 'Arasaka Appearance Updater12',
          author: 'Admiral',
          description: 'Simple .exe file which automatically selects your latest save file ready to be changed. This Updater can change hairstyle as well as some facial features. It will be updated along the way! ',
          updated: '1 days ago',
          image: 'https://staticdelivery.nexusmods.com/mods/3333/images/thumbnails/399/399-1609693855-1589134343.jpeg'
        }
      ]
    }
  },

  methods: {
    goToSlide (index, item) {
      if (window.innerWidth <= 667) {
        this.$router.push('/packages/testUser/testPackage')
      } else {
        this.$refs.displayItem.pause()
        this.$refs.displayItem.goTo(index)
        this.$refs.displayItem.play()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.scroller {
  &__display {
    margin-bottom: 10px;

    @media (max-width: 667px) {
      display: none;
    }
  }

  &__item {
    position: relative;
    margin-right: 10px;
    background: rgb(var(--color-bg-alt));
    border-radius: var(--border-radius);
    border: 1px solid rgb(var(--color-bg-alt2));
    overflow: hidden;
  }

  &__aspectRatio {
    position: relative;
    width: 100%;
    padding-top: calc(100% * 9 / 16);
  }

  &__imageContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), transparent 85%);
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__itemInfo {
    z-index: 5;
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 0 10px;
  }

  &__packageName {
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__packageInfo {
    margin-top: auto;
    color: rgb(var(--color-text-alt));
    font-size: 0.8em;
  }

  &__author {
    font-weight: 600;
    color: rgb(var(--color-text));
  }

  &__updated {
    font-weight: 600;
  }

  &__prevArrow {
    position: absolute;
    left: -25px;
    top: 0;
    height: 100%;
    padding-right: 20px;
    background: linear-gradient(to right, rgb((var(--color-bg))) 50%, transparent);
  }

  &__nextArrow {
    position: absolute;
    right: -25px;
    top: 0;
    height: 100%;
    padding-left: 20px;
    background: linear-gradient(to left, rgb((var(--color-bg))) 50%, transparent);
  }

  &__items {
    ::v-deep .slick-slide > div {
      margin: 0 5px;
    }

    ::v-deep .slick-list {
      padding: 0 10px;
      margin: 0 -10px;
    }

    ::v-deep .slick-arrow {
      position: absolute;
      display: flex;
      width: 40px;
      align-items: center;
      justify-content: center;
      z-index: 8;
      cursor: pointer;
    }
  }
}
</style>
