<template>
  <div
    class="package"
    :class="{ 'package--list': listStyle }"
    @click="$router.push('/packages/test')"
    v-if="packageInfo"
  >
    <div
      class="package__imageContainer"
    >
      <img
        class="package__imageBackground"
        :src="packageInfo.image"
      >
      <div class="package__aspectRatio">
        <img
          class="package__image"
          :src="packageInfo.image"
        >
      </div>
    </div>
    <div class="package__right">
      <div class="package__container">
        <h3 class="package__name">{{ packageInfo.name }}</h3>
        <p class="package__description">{{ packageInfo.description }}</p>
        <p class="package__info">
          <span class="package__author">{{ packageInfo.author }}</span>
          published 1.0.1 •
          <span class="package__updated">{{ packageInfo.updated }}</span>
        </p>
        <div class="package__tags">
          <div class="package__tag">tag</div>
          <div class="package__tag">tag</div>
          <div class="package__tag">tag</div>
          <div class="package__tag">tag</div>
          <div class="package__tag">tag</div>
          <div class="package__tag">tag</div>
          <div class="package__tag">tag</div>
        </div>
      </div>
      <div class="package__meta">
        <p class="package__metaItem"><ThumbUpIcon/> 10,000,000</p>
        <p class="package__metaItem"><DownloadIcon/> 10,000,000</p>
      </div>
    </div>
  </div>
</template>

<script>
import ThumbUpIcon from 'vue-material-design-icons/ThumbUp'
import DownloadIcon from 'vue-material-design-icons/Download'

export default {
  components: {
    ThumbUpIcon,
    DownloadIcon
  },

  props: {
    listStyle: Boolean,
    packageInfo: Object
  }
}
</script>

<style lang="scss" scoped>
.package {
  width: 100%;
  background: rgb(var(--color-bg-alt));
  border-radius: var(--border-radius);
  border: 1px solid rgb(var(--color-bg-alt2));
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 10px 16px -10px rgba(#000, 0.5);
  font-size: 0.9em;
  display: flex;
  flex-direction: column;

  &--list {
    flex-direction: row;
  }

  &--list & {
    &__imageContainer {
      width: 380px;
    }

    &__description {
      -webkit-line-clamp: 7;
    }
  }

  &__aspectRatio {
    position: relative;
    width: 100%;
    padding-top: calc(100% * 9 / 16);
  }

  &__imageContainer {
    position: relative;
    display: flex;
    background: rgb(var(--color-bg-alt2));
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &__imageBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    filter: blur(8px);
    transform: scale(1.1);
    z-index: 1;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 5;
  }

  &__right {
    display: flex;
    flex-direction: column;
    flex: 2;
  }

  &__container {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: 600;
    font-size: 1.2em;
  }

  &__description {
    display: -webkit-box;
    margin: 10px 0;
    color: rgb(var(--color-text-alt));
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  &__info {
    margin-top: auto;
    color: rgb(var(--color-text-alt));
  }

  &__author {
    font-weight: 600;
    color: rgb(var(--color-text));
  }

  &__updated {
    font-weight: 600;
  }

  &__tags {
    width: 100%;
    display: flex;
    margin-top: 10px;
    overflow: hidden;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0) 90%, transparent);
  }

  &__tag {
    padding: 5px;
    margin-right: 10px;
    background: rgb(var(--color-bg-alt2));
    border-radius: var(--border-radius);
    font-size: 0.9em;
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    background: rgb(var(--color-bg-alt2));
  }

  &__metaItem {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    white-space: nowrap;
    color: rgb(var(--color-text-alt));

    .material-design-icon {
      height: 1em;

      > .material-design-icon__svg {
        height: 1em;
      }
    }
  }
}
</style>
