<template>
  <div class="recentRelease">
    <div
      class="recentRelease__container"
      @click="show = !show"
    >
      <p class="recentRelease__name">vehiclehandling_v0.1.5</p>
      <div class="recentRelease__line"/>
      <p class="recentRelease__published">December 24, 2020</p>
      <div class="recentRelease__install"><download-icon/></div>
    </div>
    <div
      class="recentRelease__hiddenContainer"
      :class="{ 'recentRelease__hiddenContainer--show': show }"
    >
      <p class="recentRelease__vinfo">Version Info - <span class="recentRelease__version">0.1.5</span></p>
      <p class="recentRelease__description">New version to try and make handbreaks a little bit better, it's not much different then v0.2 but I find cars are much better to drive like this.<br><br>Same Installation method as before.</p>
    </div>
  </div>
</template>

<script>
import DownloadIcon from 'vue-material-design-icons/Download'

export default {
  components: {
    DownloadIcon
  },

  data () {
    return {
      show: false
    }
  }
}
</script>

<style lang="scss" scoped>
.recentRelease {
  margin-bottom: 20px;
  $main: &;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
      #{$main}__line {
        background: rgb(var(--color-bg-alt2));
      }
    }
  }

  &__hiddenContainer {
    opacity: 0;
    max-height: 0;
    padding: 0 20px;
    visibility: hidden;
    background: rgb(var(--color-bg-alt));
    border-radius: var(--border-radius);
    transition: all 0.2s ease;

    &--show {
      opacity: 1;
      height: initial;
      max-height: 500px;
      padding: 20px;
      margin-top: 10px;
      visibility: visible;
    }
  }

  &__name {
    padding-block: 5px;
    width: max-content;
    font-size: 1.15em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__published {
    color: rgb(var(--color-text-alt));
    white-space: nowrap;
    user-select: none;

    &--noMargin {
      margin-bottom: initial;
    }
  }

  &__version {
    font-weight: initial;
  }

  &__line {
    flex: 1;
    margin: 0 20px;
    height: 1px;
    background: rgb(var(--color-bg-alt));
    transition: all 0.2s ease;
  }

  &__install {
    display: flex;
    padding: 4px;
    margin-left: 10px;
    border-radius: var(--border-radius);
    border: 2px solid rgb(var(--color-bg-alt2));
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      background: rgb(var(--color-bg-alt2));
      box-shadow: 0 4px 7px -3px rgb(0, 0, 0, 0.4);
    }

    .material-design-icon {
      height: 1em;

      > .material-design-icon__svg {
        height: 1em;
      }
    }
  }

  &__vinfo {
    width: 100%;
    font-weight: 600;
  }

  &__description {
    padding: 10px;
    margin-top: 10px;
    background: rgb(var(--color-bg-alt2));
    border-radius: var(--border-radius);
  }
}
</style>
