<template>
  <div id="app">
    <component :is="this.$route.meta.layout || 'div'">
      <router-view/>
    </component>
  </div>
</template>

<script>
export default {
  mounted () {
    document.documentElement.classList.add('theme--dark')
  }
}
</script>

<style lang="scss">
html {
  --color-primary: 63, 109, 128;
  --border-radius: 5px;

  &.theme--dark {
    --color-bg: 11, 13, 16;
    --color-bg-alt: 21, 27, 35;
    --color-bg-alt2: 35, 44, 55;

    --color-text: 247, 247, 247;
    --color-text-alt: 182, 182, 183;
  }

  &.theme--light {
    --color-bg: 255, 255, 255;
    --color-bg-alt: 238, 238, 238;
    --color-bg-alt2: 251, 251, 251;

    --color-text: 0, 0, 0;
    --color-text-alt: 77, 77, 77;
  }
}
</style>>
