<template>
  <div class="appLayout">
    <app-navigation/>
    <div class="appLayout__content">
      <router-view/>
    </div>
  </div>
</template>

<script>
import AppNavigation from '@/components/AppNavigation'

export default {
  components: {
    AppNavigation
  }
}
</script>

<style lang="scss">
body {
  background: rgb(var(--color-bg));
  color: rgb(var(--color-text));
}
</style>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

.appLayout {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', Avenir, Helvetica, Arial, sans-serif;

  &__content {
    flex-grow: 1;
    height: 0;
  }
}
</style>
