<template>
  <div class="packages">
    <div class="packages__section">
      <div class="packages__sectionHeader">
        <h2 class="packages__sectionTitle">Popular Packages - All Time</h2>
        <router-link
          class="packages__sectionMore"
          to="/communities/testCommunity/packages/popular"
        >
          View All
        </router-link>      </div>
      <package-scroller/>
    </div>

    <div class="packages__section">
      <div class="packages__sectionHeader">
        <h2 class="packages__sectionTitle">Popular Packages - This Week</h2>
        <router-link
          class="packages__sectionMore"
          to="/communities/testCommunity/packages/popular/week"
        >
          View All
        </router-link>      </div>
      <package-scroller/>
    </div>

    <div class="packages__section">
      <div class="packages__sectionHeader">
        <h2 class="packages__sectionTitle">New Today</h2>
        <router-link
          class="packages__sectionMore"
          to="/communities/testCommunity/packages/new"
        >
          View All
        </router-link>      </div>
      <package-scroller/>
    </div>

    <div class="packages__section">
      <div class="packages__sectionHeader">
        <h2 class="packages__sectionTitle">New This Week</h2>
        <router-link
          class="packages__sectionMore"
          to="/communities/testCommunity/packages/new/week"
        >
          View All
        </router-link>      </div>
      <package-scroller/>
    </div>
  </div>
</template>

<script>
import PackageScroller from '@/components/PackageScroller'

export default {
  components: {
    PackageScroller
  }
}
</script>

<style lang="scss" scoped>
.packages {
  &__section {
    padding-bottom: 20px;

    &:not(:first-of-type) {
      padding-top: 20px;
    }

    &:not(:last-of-type) {
      border-bottom: 2px solid rgb(var(--color-bg-alt));
    }
  }

  &__sectionHeader {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
  }

  &__sectionTitle {
    font-weight: 600;
    font-size: 1.5em;
  }

  &__sectionMore {
    color: rgb(var(--color-text-alt));
    text-decoration: none;
    transition: all 0.2s ease;

    &:hover {
      color: rgb(var(--color-text));
    }
  }
}
</style>
