<template>
  <div class="button">
    <slot/>
  </div>
</template>

<style lang="scss" scoped>
.button {
  padding: 10px;
  color: inherit;
  border-radius: var(--border-radius);
  border: 2px solid rgb(var(--color-primary));
  outline: none;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  backdrop-filter: blur(20px);
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover,
  &.router-link-active {
    background: rgb(var(--color-primary));
    box-shadow: 0 4px 7px -3px rgb(0, 0, 0, 0.4);
  }
}
</style>
