<template>
  <div
    class="dropdown"
    tabindex="0"
    @blur="open = false"
  >
    <div
      class="dropdown__selected"
      :class="{ 'dropdown__selected--isOpen': open }"
      @click="open = !open"
    >
      <p>{{ selected ? selected : placeholder ? placeholder : 'Select' }}</p>
      <div class="dropdown__iconContainer">
        <chevron-icon class="dropdown__icon"/>
      </div>
    </div>
    <div
      class="dropdown__items items"
      :class="{ 'dropdown__items--isHidden': !open }"
    >
      <div class="items__seperator"/>
      <div
        v-for="(option, index) of options"
        :key="index"
        class="items__item"
        @click="selectOption(option)"
      >
        <p class="items__itemText">{{ option }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import ChevronIcon from 'vue-material-design-icons/ChevronDown'

export default {
  components: {
    ChevronIcon
  },
  props: {
    options: {
      type: Array,
      required: true
    },
    default: {
      type: String,
      default: null
    },
    placeholder: String
  },

  data () {
    return {
      selected: this.placeholder ? null : this.default ? this.default : this.options.length > 0 ? this.options[0] : null,
      open: false
    }
  },

  mounted () {
    this.$emit('input', this.selected)
  },

  methods: {
    selectOption (option) {
      this.selected = option
      this.open = false
      this.$emit('input', option)
    }
  }
}
</script>

<style lang="scss" scoped>
.dropdown {
  position: relative;
  width: 100%;
  outline: none;
  transition: all 0.2s ease;

  &__selected {
    padding: 10px 20px;
    border-radius: var(--border-radius);
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease;
    position: relative;
    background: rgb(var(--color-bg-alt2));

    &:hover {
      box-shadow: 0 10px 16px -10px rgba(#000, 0.5);
      transform: translateY(-3px);
    }

    &--isOpen {
      color: rgba(var(--color-text), 0.6);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      transform: translateY(-3px);

      &:hover {
        box-shadow: none;
      }

      .dropdown__icon {
        > svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__items {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    position: absolute;
    width: 100%;
    max-height: 230px;
    padding: 10px;
    padding-top: 0;
    background: rgb(var(--color-bg-alt2));
    z-index: 1;
    transition: all 0.2s ease;
    box-shadow: 0 10px 16px -10px rgba(#000, 0.5);
    transform: translateY(-3px);
    overflow-y: auto;

    &--isHidden {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__iconContainer {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  &__icon {
    > svg {
      transition: all 0.35s ease;
    }
  }
}

.items {
  &__seperator {
    height: 2px;
    width: 95%;
    margin: 10px auto;
    transition: background 0.2s ease;
    background: rgb(var(--color-bg-alt));
  }

  &__item {
    padding: 10px;
    border-radius: var(--border-radius);
    transition: all 0.3s ease;
    cursor: pointer;
    user-select: none;

    &:not(:last-of-type) {
      margin-bottom: 5px;
    }

    &:hover {
      background: rgb(var(--color-bg-alt));

      p {
        transform: translateX(10px);
      }
    }
  }

  &__itemText {
    transition: all 0.1s ease;
  }
}
</style>
