// TODO: Fix background flicker when going backwards, I have no fucking idea why
<template>
  <div class="pagination">
    <template v-if="pages >= 6">
      <div
        class="pagination__item"
        :class="{ 'pagination__item--active': 1 === currentPage }"
        @click="$emit('page-changed', 1)"
      >
        1
      </div>

      <transition name="fade">
        <p
          class="pagination__overflow"
          v-if="currentPage - 1 > 2"
        >
          ...
        </p>
      </transition>
      <div
        class="pagination__item"
        :class="{ 'pagination__item--active': page === currentPage }"
        v-for="page in pageSiblings"
        :key="page"
        @click="$emit('page-changed', page)"
      >
        {{ page }}
      </div>

      <transition name="fade">
        <p
          class="pagination__overflow"
          v-if="currentPage <= pages - 3"
        >
          ...
        </p>
      </transition>

      <div
        class="pagination__item"
        :class="{ 'pagination__item--active': pages === currentPage }"
        @click="$emit('page-changed', pages)"
      >
        {{ pages }}
      </div>
    </template>
    <template v-else>
      <div
        class="pagination__item"
        :class="{ 'pagination__item--active': page === currentPage }"
        v-for="page in pages"
        :key="page"
        @click="$emit('page-changed', page)"
      >
        {{ page }}
      </div>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    pages: Number,
    currentPage: Number
  },

  computed: {
    pageSiblings () {
      let startPage = this.currentPage
      let endPage = this.currentPage

      startPage--
      endPage++

      if (startPage <= 1) {
        startPage = 2
        endPage = 4
      }

      if (endPage >= this.pages) {
        endPage = this.pages - 1
        startPage = endPage - 2
      }

      const pages = []

      for (let i = startPage; i <= endPage; i += 1) {
        pages.push(i)
      }

      return pages
    }
  }
}
</script>

<style lang="scss" scoped>
.pagination {
  display: flex;
  align-items: flex-end;
  user-select: none;

  &__item {
    margin: 0 5px;
    padding: 5px 8px;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background: rgb(var(--color-bg-alt2));
      transform: translateY(-2px);
    }

    &--active {
      color: #fff;
      background: rgb(var(--color-primary)) !important;
      transform: translateY(0) !important;
    }
  }

  &__overflow {
    padding: 5px;
  }
}

.fade-enter,
.fade-leave-to {
  visibility: hidden;
  opacity: 0;
  padding: 5px 0;
  width: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s;
}
</style>
