<template>
  <input
    class="slider"
    type="range"
    :min="min"
    :max="max"
    :value="currentValue"
    :step="step"
    @input="$emit('input', $event.target.value)"
  >
</template>

<script>
export default {
  props: {
    min: Number,
    max: Number,
    defaultValue: Number,
    step: Number
  },

  data () {
    return {
      currentValue: this.defaultValue
    }
  },

  methods: {
    updateVal () {}
  }
}
</script>

<style lang="scss" scoped>
.slider {
  -webkit-appearance: none;
  background: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    margin-top: -6px;
    border: none;
    border-radius: 30px;
    background: darken(#fff, 50);
    box-shadow: 0 0 7px 0 rgb(0, 0, 0, 0.4);
  }

  &::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border: none;
    border-radius: 30px;
    background: darken(#fff, 50);
    box-shadow: 0 0 7px 0 rgb(0, 0, 0, 0.4);
  }

  &::-webkit-slider-runnable-track {
    height: 5px;
    background: rgb(var(--color-bg-alt2));
    border-radius: 5px;
    cursor: pointer;
  }

  &::-moz-range-track {
    height: 5px;
    background: rgb(var(--color-bg-alt2));
    border-radius: 5px;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}
</style>
